<head>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet">
</head>

<h1><%= @wall.name %></h1>


<table>
    <thead>
        <tr>
            <th colspan="3">Wall Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Wall Material:</b> <%= @wall.wall_material %></td>
            <td><b>Size:</b> <%= @wall.size %></td>
            <td><b>Construction Date:</b> <%= @wall.construction_date %></td>
        </tr>
    </tbody>
</table>

<% if @wall.owner == current_user %>
    <a href="<%= edit_wall_url(@wall) %>">Edit <%= @wall.name %></a>
<% end %>

<p> <b>Description:</b>
<%= @wall.description %>
</p>
    
<p>      

<% is_wall_owner = current_user && current_user.owns_wall?(@wall) %>


<h4>Current Reservations on <%= @wall.name %></h4>
<% if @usernames.empty? %>
    <p> <%= @wall.name %> + "has no rental requests currently."</p>
<% else %> 
<ol>
<% @usernames.order('start_date').each do |rental_request| %>
    <li> Username: <%= rental_request.requester.username %>
    <br>
    Status: <%= rental_request.status %></li>
    Start Date: <%= rental_request.start_date  %>
    <br>
    End Date: <%= rental_request.end_date %> 
        <% if rental_request.status == "PENDING" && is_wall_owner %>
            <br>
            wall_id: <%= rental_request.wall_id %>
            id: <%= rental_request.id %>
            <form action=" <%= approve_wall_rental_request_url(rental_request.id) %>" method="post" class="wall_rental_request[status]">
                <input class="wall_rental_request[status]"
                 type="submit" value="APPROVE">
            </form>

            <form action=" <%= deny_wall_rental_request_url(rental_request.id) %>" method="post" class="wall_rental_request[status]">
                <input class="wall_rental_request[status]"
                 type="submit" value="DENY">
            </form> 
        <% end %>
    <br></br>
    <% end %>
    </ol>
<% end %>

<% if !current_user.nil? %>
    <a href="<%= new_wall_rental_request_url(wall_id: @wall.id) %>">Make new request</a>
  <% end %>
</p>