<h1><%= @wall.name %></h1>


<table>
    <thead>
        <tr>
            <th colspan="3">Wall Qualities</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Wall Material: <%= @wall.wall_material %></td>
            <td>Size: <%= @wall.size %></td>
            <td>Construction Date: <%= @wall.construction_date %></td>
        </tr>
    </tbody>
</table>

<h3>Description:</h3>
<h4><%= @wall.description %></h4>
    
<p>    

<h3>Current Reservations on <%= @wall.name %></h3>
<ol>
<% @wallrentalrequest.each do |rental_request| %>
    <li> Status: <%= rental_request.status %></li>
    Start Date: <%= rental_request.start_date  %>
    End Date: <%= rental_request.end_date %> 
    <% if rental_request.status == "PENDING" %>
         <label for="size">Status Change?</label>
            <input type="radio" name="wall_rental_request[status]" value="APPROVE">
            <label for="APPROVE">APPROVE</label>
            
            <input type="radio" name="wall_rental_request[status]" value="DENY">
            <label for="DENY">DENY</label>
    <% end %>
    <br></br>
    <% end %>
    </ol>
</p>