<h1><%= @wall.name %></h1>


<table>
    <thead>
        <tr>
            <th colspan="3">Wall Qualities</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Wall Material: <%= @wall.wall_material %></td>
            <td>Size: <%= @wall.size %></td>
            <td>Construction Date: <%= @wall.construction_date %></td>
        </tr>
    </tbody>
</table>

<% if @wall.owner == current_user %>
    <a href="<%= edit_wall_url(@wall) %>">Edit <%= @wall.name %></a>
<% end %>

<h3>Description:</h3>
<h4><%= @wall.description %></h4>
    
<p>      

<h3>Current Reservations on <%= @wall.name %></h3>
<ol>
<% @wallrentalrequest.each do |rental_request| %>
    <li> Status: <%= rental_request.status %></li>
    Start Date: <%= rental_request.start_date  %>
    End Date: <%= rental_request.end_date %> 
        <% if rental_request.status == "PENDING" && current_user.owns_wall?(@wall) %>
            <br>
            wall_id: <%= rental_request.wall_id %>
            id: <%= rental_request.id %>
            <form action=" <%= approve_wall_rental_request_url(rental_request.id) %>" method="post" class="wall_rental_request[status]">
                <input class="wall_rental_request[status]"
                 type="submit" value="APPROVE">
            </form>

            <form action=" <%= deny_wall_rental_request_url(rental_request.id) %>" method="post" class="wall_rental_request[status]">
                <input class="wall_rental_request[status]"
                 type="submit" value="DENY">
            </form>
                
                 

                 
        <% end %>
    <br></br>
    <% end %>
    </ol>

<% if !current_user.nil? %>
    <a href="<%= new_wall_rental_request_url(wall_id: @wall.id) %>">Make new request</a>
  <% end %>
</p>