<!DOCTYPE html>
<html>
  <head>
    <title>Wall Rental Site</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet">
  </head>


  <body>
  <header>
    <nav class="main-nav">
    <a href="<%= walls_url %>">Home
      </a>

    <div>
    <% if current_user.nil? %>
        <a href="<%= new_user_url %>">Sign Up</a>
        <br>
        <a href="<%= new_session_url %>">Sign In</a>
    <% else %>
      <%= current_user.username %> is logged in.
      <form action="<%= session_url %>" method="post">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Logout">
      </form>    
    <% end %>  
    </div>
    </nav>
  </header>



    <%= yield %>
  </body>
</html>
